body {
    font-family: 'red hat display' sans-serif;
    background-image: url(../Imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor {
    width: 100%;
    height: 90px;
    max-width: 2000px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.contenedor > div{
    height: 20px;
    display: block;
    padding: 30px;
    color: #fff;
}
.relative{
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    background-image: url(../Imagenes/logo.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    margin: 10px;
}
.boton {
    margin: 0px -70px;
    text-decoration: none;
    color: #fff;
}
.boton2 {
    margin: 0px 10px;
    text-decoration: none;
    color: #fff;
}
.boton3 {
    margin: 20px;
    text-decoration: none;
    color: #fff;
}
.boton4 {
    margin: 70px;
    text-decoration: none;
    color: #fff;
}
.boton:hover {
    color: rgb(255, 255, 255);
}
.boton2:hover {
    color: rgb(255, 255, 255);
}
.boton3:hover {
    color: rgb(255, 255, 255);
}
.boton4:hover {
    color: rgb(255, 255, 255);
}
.jumbotron {
    color: rgb(255, 255, 255);
    background: url(../Imagenes/caratula.png)  center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px 0px;
    font-style: arial;
    font-size: 20px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    background-color: rgb(170, 28, 28);
    text-decoration: none;
    color: #fff;
    border: none;
    width: 500px;
    height: 60px;
    border-radius: 8px;
    display: block;
    margin: 75px 10px;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 18px;
}
button:hover {
    background-color: rgb(223, 94, 94);
}
.email {
    border-radius: 10px;
    margin: 10px 0px;
    width: 600px;
    height: 50px;
}
.bloque {
    width: 100%;
    height: 500px;
    max-width: 2000px;
    margin: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.bloque > div {
    height: 495px;
    display: block;
    padding: 30px;
    color: #fff;
}
.main-container {
    overflow: hidden;
    width: 328px;
    height: 470px;
    margin: 0px;
    border-radius: 8px;
    background-color: #fff;
    color: rgb(0, 0, 0);
}
.imagen1 {
    background-image: url(../Imagenes/Objetivos.jpg);
    height: 162px;
    background-size: cover;
}
.imagen11 {
    background-image: url(../Imagenes/Lalo.png);
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50px;
}
.imagen2 {
    background-image: url(../Imagenes/Competitivo.png);
    height: 162px;
    background-size: cover;
}
.imagen22 {
    background-image: url(../Imagenes/Hearx.jpg);
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50px;
}
.imagen3 {
    background-image: url(../Imagenes/streams.png);
    height: 162px;
    background-size: cover;
}
.imagen33 {
    background-image: url(../Imagenes/Jorge.jpg);
    height: 90px;
    width: 90px;
    margin: 10px;
    border-radius: 50px;
}
.parrafo {
    text-align:left;
    margin-bottom: 32px;
    padding: 0 50px;
}
.parrafo1 {
    text-align: center;
    margin: 0 100px;
}
.parrafo2 {
    text-align: center;
    margin: 125px;
}
.parrafo3 {
    text-align: center;
    margin: 37px 120px 50px;
}
